<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head class="h-100">

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/favicon.ico">

<title>Spring Security Sample</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- Custom styles for this template -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style type="text/css">
h1 {
	border-left: 5px solid blue;
	border-bottom: 2px solid blue;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
</style>

</head>

<body class="h-100 m-0 mb-5">

	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Sample</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTop">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>

				</ul>
			</div>
		</nav>
	</header>

	<!-- Begin page content -->
	<main role="main" class="container pt-5 px-3 pb-0">

	<h1 class="mt-5" layout:fragment="title">タイトル</h1>

	<div layout:fragment="contents">コンテンツの内容</div>

	</main>

	<footer class="footer fixed-bottom p-3 bg-light">
		<div class="container px-3">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>

</body>
</html>
